<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SkillPort Activation Email</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #f4f4f4;
        padding: 20px;
        margin: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      .tag {
        font-weight: 500;
        color: #0073e6;
      }
      .code {
        text-decoration: underline;
        color: lightseagreen;
      }
      footer {
        background-color: lightblue !important;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>
        Hello <%= name %>, Welcome to
        <span class="tag">User Management Platform!</span>
      </h1>
      <p>
        Thank you for registering with us. Your temporary password is below:
      </p>
      <h2>Temporary Password: <span class="code"><%= password %></span></h2>
      <footer>
        <p>Best regards!</p>
      </footer>
    </div>
  </body>
</html>
